<%- include("partials/header.ejs") %>
    <div class="container">
        <h1 class="header">Welcome !</h1>
        <a class="btn blue lighten-2" href="/signin"><i class="material-icons right">arrow_forward</i>Sign in !</a>
        <a class="btn teal lighten-2" href="/signup"><i class="material-icons right">arrow_upward</i>Sign up !</a>
    </div>
<%- include("partials/footer.ejs") %>
