<%- include("partials/header.ejs") %>
    <div class="container">
        <h1 class="header">Bags Inventory</h1>
        <a class="btn" href="/signin"><i class="material-icons right">arrow_forward</i>Sign in !</a>
        <a class="btn" href="/signup"><i class="material-icons right">arrow_upward</i>Sign up !</a>
    </div>
<%- include("partials/footer.ejs") %>
